:root {
  --bg: #ffffff;
  --bg-secondary: #f5f5f5;
  --color: #213547;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light;
  color: var(--color);
  background-color: var(--bg);
}

html.dark {
  --bg: #242424;
  --bg-secondary: #353535;
  --color: rgba(255, 255, 255, 0.87);
  color-scheme: dark;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 8px 16px;
  border: 0;
  font-family: inherit;
  cursor: default;
}

/* ========================================== */
.space-x {
  display: flex;
  gap: 8px;
}
.space-y {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
.flex1 {
  flex: 1;
}
.jcc {
  display: flex;
  justify-content: center;
}
.aic {
  display: flex;
  align-items: center;
}
.jcse {
  justify-content: space-evenly;
}
.flexc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fwrap {
  display: flex;
  flex-wrap: wrap;
}

/* ==================================== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-corner {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #b3b3b34d;
}
::-webkit-scrollbar-track {
  background-color: #7a7a7a1a;
}
